h1 {
  font-family: "playfair-medium";
  font-size: 6.25rem;
  color: #d9c7b3;
  text-transform: capitalize;
}

h2 {
  font-family: "playfair-medium";
  font-size: 6rem;
  color: #363A2B;
}

h3 {
  font-family: "playfair-bold";
  font-size: 3rem;
  color: #363A2B;
}

h4 {
  font-family: "playfair-bold";
  font-size: 1.875rem;
  color: #363A2B;
}

h5 {
  font-family: "karla-bold";
  font-size: 1.25rem;
  color: #363A2B;
}

p {
  font-family: "karla-regular";
  font-size: 1.25rem;
  color: #363A2B;
}

.p-legend {
  font-family: "karla-regular";
  font-size: 0.9375rem;
  color: #363A2B;
}

a {
  font-family: "karla-medium";
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #363A2B;
}

li {
  list-style: none;
}
li a {
  font-family: "karla-medium";
  font-size: 1.25rem;
  text-decoration: none;
  color: #363A2B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
}

html {
  font-size: 16px;
  background-color: #e5e0dc;
}

/**
body {
    font-family: $font-primary;
    font-size: $font-size-base;
}

**/
.hidden {
  display: none;
}

.container {
  width: 74%;
}

.block {
  width: 45.5%;
}

.row {
  margin: 6.875rem 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
  background-color: #e5e0dc;
}

.header-mobil {
  display: none;
}

.header-desktop {
  width: 90%;
  background-color: #e5e0dc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-desktop .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
}
.header-desktop .menu .logo {
  width: 159px;
  height: 53px;
}
.header-desktop .menu .logo img {
  width: 100%;
  height: auto;
}
.header-desktop .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.1875rem;
}
.header-desktop .menu ul a {
  transition: color 0.3s ease-in-out;
}
.header-desktop .menu ul a:hover {
  color: #4e6133;
}
.header-desktop .header-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5.375rem;
}
.header-desktop .header-contact .social-desktop ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3125rem;
}
.header-desktop .header-contact .CTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

@media (max-width: 720px) {
  .header-desktop {
    display: none;
  }
  .header {
    position: relative;
  }
  .header-mobil {
    position: absolute;
    z-index: 100;
    top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 74%;
  }
  .header-mobil .nav {
    display: none;
  }
  .header-mobil .social-mobil ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
footer {
  background-color: #ffffff;
  padding: 2.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .container-footer {
  width: 88%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container-footer .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem;
}
footer .container-footer .footer-social .logo-footer {
  width: 192px;
  height: 64px;
}
footer .container-footer .footer-social .logo-footer img {
  width: 100%;
}
footer .container-footer .footer-social .social-pictos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}
footer .container-footer .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}
footer .container-footer .footer-contact h4 {
  font-size: 1.25rem;
  text-transform: capitalize;
}
footer .container-footer .footer-contact p {
  text-transform: capitalize;
}
footer .container-footer .footer-contact p .span-contact {
  font-family: "karla-bold";
  text-transform: capitalize;
}
footer .container-footer .footer-credits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}
footer .container-footer .footer-credits p {
  font-family: "karla-bold";
  text-transform: capitalize;
  font-size: 0.93rem;
}

.section-formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-formulaire .formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-formulaire .formulaire form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.125rem;
  padding: 1.875rem 3.75rem;
  background-color: #d9c7b3;
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.section-formulaire .formulaire form label {
  font-family: "karla-bold";
  font-size: 1rem;
  text-transform: capitalize;
}
.section-formulaire .formulaire form button {
  align-self: flex-end;
  color: #ffffff;
}
.section-formulaire .formulaire form .formulaire-identification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.section-formulaire .formulaire form .formulaire-identification .form-style {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.section-formulaire .formulaire form .formulaire-identification .form-style .streetNbr {
  width: 20%;
}
.section-formulaire .formulaire form .formulaire-identification .form-style .streetNbr input {
  width: 40px;
}
.section-formulaire .formulaire form .formulaire-identification .form-style .streetName input {
  width: 100%;
}
.section-formulaire .formulaire form .formulaire-identification .form-style .cityCode input {
  width: 80px;
}
.section-formulaire .formulaire form .formulaire-identification .email {
  display: flex;
  gap: 3rem;
}
.section-formulaire .formulaire form .formulaire-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.section-formulaire .formulaire form .formulaire-reservation .reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.section-formulaire .formulaire form .formulaire-reservation .reservation .room {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-formulaire .formulaire form .formulaire-reservation .reservation .nbr-visitors input {
  width: 40px;
}
.section-formulaire .formulaire form .formulaire-reservation .journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.section-formulaire .formulaire form .formulaire-reservation .journey .arrivee {
  display: flex;
  gap: 1.5rem;
}
.section-formulaire .formulaire form .formulaire-reservation .journey .depart {
  display: flex;
  gap: 1rem;
}

.primary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "karla-regular";
  font-size: 1.875rem;
  background-color: #363A2B;
  padding: 0.4375rem 0.875rem;
  border-radius: 6px;
  width: 180px;
  height: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.primary-btn a {
  color: #ffffff;
}

.secondary-btn {
  font-family: "karla-regular";
  font-size: 1.25rem;
  text-transform: capitalize;
  background-color: #4e6133;
  padding: 0.4375rem 0.875rem;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.secondary-btn a {
  text-decoration: none;
  color: #ffffff;
}

.reset-btn {
  font-family: "karla-regular";
  font-size: 1.25rem;
  text-transform: capitalize;
  background-color: #FF0000;
  padding: 0.4375rem 0.875rem;
  border-radius: 6px;
  border: solid 1px #ff0000;
  box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
  color: #ffffff;
}

.validate-btn {
  font-family: "karla-regular";
  font-size: 1.25rem;
  text-transform: capitalize;
  background-color: #4e6133;
  padding: 0.4375rem 0.875rem;
  border-radius: 6px;
  border: solid 1px #4e6133;
  box-shadow: -5px 5px 5px rgba(78, 97, 51, 0.5);
}
.validate-btn a {
  color: #ffffff;
  text-decoration: none;
}

.section-formulaire {
  position: relative;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.875rem 3.75rem;
  background-color: #d9c7b3;
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: #363A2B;
  gap: 2rem;
}
.modal .results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.modal .results h5 {
  color: #FF0000;
}
.modal .summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.modal .summary .summary-span {
  font-family: "karla-bold";
}
.modal .summary h5 {
  color: #363A2B;
}
.modal .modal-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(10px);
}

.container-fluid {
  width: 100vw;
  position: relative;
  height: 115vh;
}
.container-fluid .video-banner {
  width: 100%;
}
.container-fluid .video-banner video {
  width: 100%;
  filter: brightness(80%);
}
.container-fluid .title {
  position: absolute;
  top: 30%;
  left: 40%;
}
.container-fluid .article-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.125rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 1.875rem 3.75rem;
  background-color: #d9c7b3;
  border-radius: 18px;
  width: 51.45%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.container-fluid .article-form form {
  width: 100%;
}
.container-fluid .article-form form .form-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-fluid .article-form form .form-banner .select-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}
.container-fluid .article-form form .form-banner .visitor-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}
.container-fluid .article-form form .form-banner .date-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}
.container-fluid .article-form form .form-banner label {
  font-family: "karla-regular";
  font-size: 1rem;
  color: #363A2B;
}
.container-fluid .primary-btn {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.section-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-presentation .article-hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-presentation .article-hotel .presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 3.125rem;
}
.section-presentation .article-hotel .carrousel {
  overflow: hidden;
}
.section-presentation .article-hotel .carrousel .slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.section-presentation .article-hotel .carrousel .slide .overflow {
  height: 689px;
}
.section-presentation .article-hotel .carrousel .slide .overflow img {
  height: 100%;
}

.section-concept {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-card .card-concept {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 2.3rem;
}
.container-card .card-concept .card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.9rem;
}

.section-creator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-creator .container-creator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-creator .container-creator .block {
  height: 620px;
}
.section-creator .container-creator .note-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 3.43rem;
}
.section-creator .container-creator .note-creator .note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.7rem;
}
.section-creator .container-creator .note-creator .note .creator {
  font-family: "karla-bold";
  display: block;
}
.section-creator .container-creator .img-creator {
  height: 100%;
  overflow: hidden;
}
.section-creator .container-creator .img-creator img {
  transform: translateX(-500px);
  height: 100%;
  width: auto;
}

@media (max-width: 720px) {
  .section-banner {
    overflow: hidden;
    height: 100vh;
  }
  .section-banner .video-banner {
    height: 100%;
  }
  .section-banner .video-banner video {
    transform: translate(-900px, -100px);
    width: auto;
    filter: brightness(80%);
  }
  .section-banner .title {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-banner .title h1 {
    font-size: 3.125rem;
  }
  .section-banner .article-form {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 74%;
  }
  .section-banner .article-form form .form-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .section-banner .article-form form h4 {
    font-size: 1rem;
    text-align: center;
  }
}
.section-offers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-offers .container-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 4.25rem;
}
.section-offers .container-offers .offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.section-offers .container-offers .offers .room-offers {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 4.25rem;
}
.section-offers .container-offers .offers .room-offers .offers-img {
  width: 100%;
  max-height: 432px;
  overflow: hidden;
}
.section-offers .container-offers .offers .room-offers .offers-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.56rem;
}
.section-offers .container-offers .offers .room-offers .offers-details .offers-pictos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.section-offers .container-offers .offers .room-offers .offers-details .offers-pictos .pictos-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-offers .container-offers .offers .room-offers .offers-details .offers-pictos .pictos-details .pictos-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.section-offers .container-offers .offers .room-offers .offers-details .offers-pictos .pictos-details .pictos-column .pictos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-offers .container-offers .offers .room-offers .offers-details .offers-pictos .more-details {
  font-size: 0.9375rem;
  color: #4e6133;
}
.section-offers .container-offers .offers .room-offers .offers-details .price {
  font-family: "karla-bold";
}

.section-options .container-fluid {
  height: auto;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
.options .title-options {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 2rem;
}
.options .carrousel-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
}
.options .carrousel-options .slide {
  position: relative;
  max-height: 350px;
  max-width: 488px;
  overflow: hidden;
}
.options .carrousel-options .slide img {
  max-width: 120%;
  height: auto;
  margin: auto;
  filter: brightness(70%);
}
.options .carrousel-options .slide .slide-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
.options .carrousel-options .slide .slide-description h4, .options .carrousel-options .slide .slide-description p, .options .carrousel-options .slide .slide-description h5 {
  color: #E5E0DC;
}

.section-activity .container-fluid {
  height: auto;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
.activity .title-activity {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 2rem;
}
.activity .carrousel-activity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
}
.activity .carrousel-activity .slide {
  position: relative;
  max-height: 350px;
  max-width: 488px;
  overflow: hidden;
}
.activity .carrousel-activity .slide img {
  max-width: 120%;
  height: auto;
  margin: auto;
  filter: brightness(70%);
}
.activity .carrousel-activity .slide .slide-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
.activity .carrousel-activity .slide .slide-description h4, .activity .carrousel-activity .slide .slide-description p, .activity .carrousel-activity .slide .slide-description h5 {
  color: #E5E0DC;
}

.scetion-video .container-fluid {
  width: 100vw;
  position: relative;
  height: auto;
}
.scetion-video .container-fluid .video-hotel {
  width: 100%;
}
.scetion-video .container-fluid .video-hotel video {
  width: 100%;
}

.section-testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-testimonials .testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}
.section-testimonials .testimonials .card-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.section-testimonials .testimonials .card-testimonials .identity-profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.section-testimonials .testimonials .card-testimonials .identity-profil .identification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.section-testimonials .testimonials .card-testimonials .identity-profil .identification .testimonials-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-testimonials .testimonials .card-testimonials h5 {
  text-transform: capitalize;
}

.section-informations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 8.4rem;
}
.section-informations .container-informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}
.section-informations .container-informations .informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.section-informations .container-informations .informations .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
.section-informations .container-informations .informations .information-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.section-informations .container-informations .informations .information-card h5 {
  text-transform: capitalize;
}
.section-informations .container-informations .informations .information-card .informations-item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.section-informations .informations-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.section-informations .informations-contact h3 {
  text-transform: capitalize;
}

.section-formulaire {
  width: 100vw;
  position: relative;
}
.section-formulaire .video-banner {
  position: absolute;
  z-index: -100;
  width: 100%;
}
.section-formulaire .video-banner video {
  width: 100%;
  filter: brightness(80%);
}
.section-formulaire h3 {
  color: #d9c7b3;
}

/*# sourceMappingURL=styles.css.map */
