@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

.carrousel{
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 1rem;
    & > *{
        flex:0 0 auto;
    }
    &::-webkit-scrollbar {
        height: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: $primary-color;
    }
}