@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;


.section-formulaire{
    width:100vw;
    position:relative;
    .video-banner{
        position:absolute;
        z-index: -100;
        width:100%;
       video{
            width:100%;
            filter: brightness(80%);
        }
    }
    h3{
        color: $tertiary-color;
    }
}