@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;


.section-formulaire{
    width:100vw;
    position:relative;
    .video-banner{
        position:absolute;
        z-index: -100;
        width:100%;
       video{
            width:100%;
            filter: brightness(80%);
        }
    }
    h3{
        color: $tertiary-color;
    }
}

///////////////////// Media Queries /////////////////////


@media (max-width:720px){

    .section-formulaire{
        overflow: hidden;
        .container-fluid{
            height:100vh;
        }
        .video-banner{
            height:100%;
           video{
            transform:translate(-900px, -100px);
                width:auto;
                filter: brightness(80%);
            }
        }
        .formulaire{
            form{
                width:auto;
                .formulaire-identification{
                    .form-style{
                        flex-direction: column;
                        gap:0;
                    }
                }
                .formulaire-reservation{
                    .reservation{
                        .room{
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
