@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

/// section banner
.container-fluid{
    width:100vw;
    position:relative;
    height:115vh;
    .video-banner{
        width:100%;
       video{
            width:100%;
            filter: brightness(80%);
        }
    }
    .title{
        position:absolute;
        top:30%;
        left:40%;
    }
    .article-form{
        @include display-flex(column, center, start);
        gap:1.125rem;
        position:absolute;
        bottom:0%;
        left:50%;
        transform: translate(-50%, -20%);
        padding: 1.875rem 3.75rem;
        background-color: $tertiary-color;
        border-radius: 18px;
        width:51.45%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        form{
            width:100%;
            .form-banner{
                @include display-flex(row, space-between, center);
                .select-hotel{
                    @include display-flex(column, center, center);
                    gap:0.875rem;  
                }
                .visitor-hotel{
                    @include display-flex(column, center, center);
                    gap:0.875rem;
                }
                .date-hotel{
                    @include display-flex(column, center, center);
                    gap:0.875rem;
                }
                label{
                    font-family: "karla-regular";
                    font-size: 1rem;
                    color: $primary-color;
                }
            }
        }
    }
    .primary-btn{
        position:absolute;
        transform: translateX(-50%);
        bottom:0%;
        left:50%;
        transform: translateX(-50%);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
}

// section presentation

.section-presentation{
    @include display-flex(column, center, center);
    .article-hotel{
        @include display-flex(row, space-between, center);
        .presentation{
            @include display-flex(column, space-between, start);
            gap:3.125rem;
        }
        .carrousel{
            overflow: hidden;
            .slide{
                @include display-flex(column, space-between, center);
                gap:1rem;
                .overflow{
                    height:689px;
                    img{
                        height:100%;
                    }
                }
            }
        }
    }
}

// section concept

.section-concept{
    @include display-flex(row, center, center);
}

.container-card{
    @include display-flex(row, space-between, center);
    .card-concept{
        height:100%;
        @include display-flex(column, space-between, stretch);
        gap:2.3rem;
        .card-details{
            @include display-flex(column, space-between, stretch);
            gap:1.9rem;
        }
    }
}

// section creator

.section-creator{
    @include display-flex(row, center, center);
    .container-creator{
        @include display-flex(row, space-between, center);
        .block{
            height:620px;
        }
        .note-creator{
            @include display-flex(column, center, stretch);
            gap:3.43rem;
            .note{
                @include display-flex(column, center, flex-start); 
                gap:1.70rem;
                .creator{
                    font-family: "karla-bold";
                    display: block;
                } 
            }
        }
        .img-creator{
            height:100%;
            overflow: hidden;
            img{
                transform: translateX(-500px);
                height:100%;
                width:auto;
            }
        } 
    }
}

@media (max-width:720px){
    //section banner
    .section-banner{
        overflow: hidden;
        height:100vh;
        .video-banner{
            height:100%;
           video{
            transform:translate(-900px, -100px);
                width:auto;
                filter: brightness(80%);
            }
        }
        .title {
            top: 30%;
            left:50%;
            transform:translate(-50%,-50%);
            h1{
                font-size: 3.125rem;
            }
        }
        .article-form{
            bottom:20%;
            left:50%;
            transform: translateX(-50%);
            width:74%;
            form{
                .form-banner{
                    @include display-flex(column, space-between, center);
                }
                h4{
                    font-size:1rem;
                    text-align: center;
                }

            }
        }
    }
}

