@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

header{
    @include display-flex(row, center, center);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
    background-color: $bckgrd-color;
}

.hidden-nav{
    display:none;
}

.header-desktop{
    width:90%;
    background-color: $bckgrd-color;
    @include display-flex(row, space-between, center);
    ul, .login{
        a{
            text-transform: capitalize;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }
        a:hover{
            text-decoration: underline;
            text-decoration-color: $secondary-color;
            color: $secondary-color;
        } 
    }
    .menu{
        @include display-flex(row, center, center);
        gap:3.25rem;
        .logo{
            width:159px;
            height:53px;
            img{
                width:100%;
                height:auto;
            }
        }
        ul{
            @include display-flex(row, center, center);
            gap:2.1875rem;
        }
    }
    .header-contact{
        @include display-flex(row, center, center);
        gap:5.375rem;
        .social-desktop{
            ul{
                @include display-flex(row, center, center); 
                gap: 1.3125rem;
            }
        }
        .CTA{
            @include display-flex(row, center, center);
            gap: 0.75rem; 
        }
    }

}

@media (max-width:720px){
    .header-desktop{
        display:none;
    }
    .header{
        position:relative;
    }
    .header-mobil{
        position:absolute;
        z-index: 100;
        top:3%;
        @include display-flex(row, space-between, center);
        width:74%;
        .burger{
            position:relative;
            nav{
                position: absolute;
                left:0%;
                background-color: $tertiary-color;
                width:200px;
                border:solid 1px $tertiary-color;
                border-radius: 10px;
                ul{
                    @include display-flex(column, center, center);
                    gap:1.5rem;
                    padding: 1rem 0;
                }
            }
        }



        .social-mobil ul{
            @include display-flex(row, center, center);
            gap:1rem;
        }
    }

}
    