@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/variables' as *;


.section-formulaire{
    position:relative;
}

.modal{
    @include display-flex(column, center, center);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 1.875rem 3.75rem;
    background-color: $tertiary-color;
    border:solid 1px $primary-color;
    border-radius: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    color: $primary-color;
    gap:2rem;
    .results{
        @include display-flex(column, center, flex-start);
        gap:1rem;
        h5{
            color: $reset-color;
        }
    }
    .summary{
        @include display-flex(column, center, flex-start);
        gap:1rem;
        .summary-span{
            font-family: 'karla-bold';
        }
        h5{
            color: $primary-color;
        }  
    }
    .modal-btn{
        width:100%;
        @include display-flex(row, space-between, center);
    }
}


.hidden{
    display:none;
}

.blur{
    filter: blur(10px);
}