@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/variables' as *;


.reset-btn{
    font-family: "karla-regular";
    font-size: 1.25rem;
    text-transform: capitalize;
    background-color: $reset-color;
    padding: 0.4375rem 0.875rem;
    border-radius: 6px;
    border: solid 1px #ff0000;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
    color: #ffffff;
}