.hidden{
    display:none;
}

.container{
    width:74%;
}

.block{
    width:45.5%;
}

.row{
    margin: 6.875rem 0;
}

.mobil-hidden{
    display:none;
}

// backontop
.backontop{
    position:fixed;
    z-index: 10000;
    top:50%;
    right:5%;  
}

@media(max-width:720px){
    .block{
        width:100%;
    }
    .row{
        margin: 4.6875rem 0;
    }
    .mobil-hidden{
        display: flex;
    }
    .desktop-hidden{
        display:none;
    }
}
